.container {
  margin: 0 auto;
  max-width: 900px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  flex-basis: 100%;
}

.weekday-spacing {
  display: flex;
  justify-content: space-evenly;
}

.center {
  margin: auto;
  display: flex;
  justify-content: center;
}

.day {
  width: 5rem;
  border: 5px solid green;
  text-align: center;
  cursor: pointer;
}

.new-entry-button-div {
  margin: 2rem;
}

.new-entry-button {
  padding: 1rem 2rem;
  cursor: pointer;
}

.schedule-table {
  flex-basis: 100%;
  flex-direction: column;
}

thead {
  text-align: left;
}
